## Objective
> Write a Pandas program to create and display a DataFrame from the following dictionary data with index labels.
>
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
>
>'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
>
>'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
>
>'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

>labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [2]:
import pandas as pd 
import numpy as np 

D=pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']},index=[ ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']])
print(D)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

> Print the three first rows using the head() method

In [7]:
import pandas as pd 
import numpy as np 
D=pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']},index=[ ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']])
print(D.head(3))
#Deuxieme method : print(D[0:4])
#Troisieme method : print(D.loc[["a","b","c"]]
#Quatrieme method : print(D.iloc[0:3])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

>Delete rows with Nan values.

In [23]:
import pandas as pd 
import numpy as np 

D=pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']},index=[ ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']])
print(D.drop(index=["h","d"])) #Suppression les ligne d'index "h","d"

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

>Extract the 'name' and 'score' columns from the DataFrame.

In [36]:
import pandas as pd 
import numpy as np 

D=pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']},index= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(D[["name","score"]]) #Afficher les columns  des noms "Name" and "Score"

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

>Write a Pandas program to append a new row 'k' to the DataFrame with these values (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").

In [2]:
import pandas as pd 
import numpy as np 

D1=pd.DataFrame({"name": ["Anastasia", "Dima", "Katherine", "James", "Emily", "Michael", "Matthew", "Laura", "Kevin", "Jonas"],"score": [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],"attempts": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],"qualify": ["yes", "no", "yes", "no", "no", "yes", "yes", "no", "no", "yes"]},index=["a","b","c","d","e","f","g","h","i","j"])
D2=pd.DataFrame({"name":  "Suresh","score": 15.5, "attempts": 1, "qualify":"yes"},index=['k'])  #colum "nom " de  core 15.5 et nombre d'éssai égale à 1 et qualifié  
D=pd.concat([D1,D2])
print(D)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

>Write a Pandas program to delete the 'attempts' column from the DataFrame.

In [50]:
import pandas as pd 
import numpy as np 
D=pd.concat([pd.DataFrame({"name": ["Anastasia", "Dima", "Katherine", "James", "Emily", "Michael", "Matthew", "Laura", "Kevin", "Jonas"],"score": [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],"attempts": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],"qualify": ["yes", "no", "yes", "no", "no", "yes", "yes", "no", "no", "yes"]},index=["a","b","c","d","e","f","g","h","i","j"]),pd.DataFrame({"name":  "Suresh","score": 15.5, "attempts": 1, "qualify":"yes"},index=['k'])])
print("\n",D.drop(columns="attempts"))  #axis = 1 donc on supprime les colonnes

         name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes

>Add a new column "Success": if the score is higher than 10 we will have 1, else we will have 0.

In [123]:
import pandas as pd 
import numpy as np 
D=pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']},index=[ ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']])
S=D.drop(index=["h","d"])
print(S)
S["Succes"]=[1 if D["score"][x] >10 else 0 for x in range(8) ] #comparer à chaque foix lélement du colonne "score" avec 10 
print(S)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
        name  score  attempts qualify  Succes
a  Anastasia   12.5         1     yes       1
b       Dima    9.0         3      no       0
c  Katherine   16.5         2     yes       1
e      Emily    9.0         2      no       0
f    Michael   20.0         3     yes       0
g    Matthew   14.5         1     yes       1
i      Kevin    8.0         2      no       1
j      Jonas   19.0         1     yes       0

>After executing the final DataFrame, export it into a CSV file named "my_data".

In [1]:
import pandas as pd 
import numpy as np 
D=pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']},index=[ ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']])
S=D.drop(index=["h","d"])
print(S)
S["Succes"]=[1 if D["score"][x] >10 else 0 for x in range(8) ]
print(S)
S.to_csv("my_data.csv")  #convert to csv file
my_data=pd.read_csv("my_data.csv")

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
        name  score  attempts qualify  Succes
a  Anastasia   12.5         1     yes       1
b       Dima    9.0         3      no       0
c  Katherine   16.5         2     yes       1
e      Emily    9.0         2      no       0
f    Michael   20.0         3     yes       0
g    Matthew   14.5         1     yes       1
i      Kevin    8.0         2      no       1
j      Jonas   19.0         1     yes       0